<div class="row">
    <div class="col-sm-9">
        <h1><%= @restaurant[:name] %></h1>
        <h3><%= @restaurant[:cuisine] %></h3>
        <h3><%= @restaurant[:description] %></h3>
        <p><%= @recommend %> <i class="fas fa-thumbs-up fa-3x mr-3"></i> Recommend </p>
        <p><%= @dontrecommend %> <i class="fas fa-thumbs-down fa-3x mr-3"></i> Do Not Recommend </p>
        <p class="mt-5">
            <h5> Are you a local? If yes, submit a review! </h5>
            <a href="/restaurants/<%= @restaurant[:id] %>/reviews/new" class="btn btn-primary">Submit Review Now!</a>
        </p>
    </div>
    <div class="col-sm-3">
    <h1><%= @restaurant[:location] %> </h1>
     </div>
</div>

<div class="row">
<% for review in @reviews %>
            <% user = @users_table.where(:id => review[:user_id]).to_a[0] %>
            <div class="media">
                <% if review[:recommend] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <%= review[:comments] %>
                    <h5 class="mt-0"><%= user[:name] %></h5>
                </div>
            </div>
        <% end %>
</div>