<div class="row">
    <div class="col-sm-8">
        <h1><%= @restaurant[:name] %></h1>
        <h3><%= @restaurant[:cuisine] %></h3>
        <h3><%= @restaurant[:description] %></h3>
        <p><%= @recommend %> <i class="far fa-thumbs-up fa-2x mr-3"></i> Recommend </p>
        <p><%= @dontrecommend %> <i class="far fa-thumbs-down fa-2x mr-3"></i> Do Not Recommend </p>
        <p class="mt-5">
            <h5> Are you a local? If yes, submit a review! </h5>
            <a href="/restaurants/<%= @restaurant[:id] %>/reviews/new" class="btn btn-primary">Submit Review Now!</a>
        </p>
    </div>
    <div class="col-sm-4">
         <h4><%= @restaurant[:location] %> </h4>
            <iframe
            width="400"
            height="400"
            frameborder="0" 
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgf1vk2Ck0LcT3JrYp7GoYHMirUGxKE6g&q=<%= @lat_long %>&zoom=12" allowfullscreen>
            </iframe>
     </div>
</div>


<hr>
<h3> Comments from Locals </h3>
<% for review in @reviews %>
<% user = @users_table.where(:id => review[:user_id]).to_a[0] %>
<div class="row">
    <div class="col-md">
        <h5><%= review[:comments] %></h5>
        <p><%= user[:firstname] %>
                <% if review[:recommend] %>
                    <i class="far fa-thumbs-up fa-2x mr-3"></i>
                <% else %>
                    <i class="far fa-thumbs-down fa-2x mr-3"></i>
                <% end %>
        </p>
    </div>
</div>
<% end %>
